@charset "utf-8";

@font-face{
    font-family: 'fonteh1';
    src: url('../fontes/xilosa_.ttf') format(truetype);    
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
main{
    width: 500px;
    height: auto;
    background-color: white;
    margin-bottom: 10px;
}
header{
    background-color: black;
    color: white;
    padding: 50px;   
    margin-bottom: 10px; 
}header > h1{
    font: normal normal 5em 'fonteh1';   
    margin-bottom: 5px;
}
